.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-space, 1rem);
}

.split {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (min-width: 50em) {
    flex-direction: row;
    gap: 1.875rem;
  }
}
